<html>
	<head>
		<title>Pályázat - Nyereményjáték!</title>
		<meta charset="UTF-8" />
		<meta name="author" content="Sultan Flowerson" />
		<meta name="description" content="Pályázati lehetőség alapítványi intézmények számára." />
		<meta name="keywords" content="pályázat, alapítvány, nyereményjáték" />
		<link rel="StyleSheet" href="/assets/competitors.css" type="text/css" />
		<%= javascript_include_tag "application" %>
		<script>
		this.form.upload.value = this.value;
		</script>
		<script type="text/javascript">
		window.fbAsyncInit = function() {
		FB.Canvas.setSize( {width: 900 } );
		}
		// Do things that will sometimes call sizeChangeCallback()
		function sizeChangeCallback() {
		FB.Canvas.setSize( {width: 900 } );
		}
		</script>
	</head>
	<body>
		<div id="fb-root"></div>
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : 258087090967737, // App ID
		      status     : true, // check login status
		      cookie     : true, // enable cookies to allow the server to access the session
		      xfbml      : true  // parse XFBML
		    });
			
				FB.getLoginStatus(function(response) {
				  if (response.status === 'connected') {
				    // the user is logged in and has authenticated your
				    // app, and response.authResponse supplies
				    // the user's ID, a valid access token, a signed
				    // request, and the time the access token 
				    // and signed request each expire
				    var uid = response.authResponse.userID;
				    var accessToken = response.authResponse.accessToken;
				  } else if (response.status === 'not_authorized') {
				    // the user is logged in to Facebook, 
				    // but has not authenticated your app
				  } else {
				    // the user isn't logged in to Facebook.
				  }
				 });

		  // Load the SDK Asynchronously
		  (function(d){
		     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement('script'); js.id = id; js.async = true;
		     js.src = "//connect.facebook.net/en_US/all.js";
		     ref.parentNode.insertBefore(js, ref);
		   }(document));
		</script>
		<div id="container">
	<!-- Szerver oldali hitelesítés hibaüzenetei -->
			<%= error_messages(@competitor) %>
			<div id="formwrapper">
				<%= @signed_request.inspect %>
	<!-- Űrlap -->			
				<%= form_for(@competitor, :as => :competitor, :url => {:action => 'create'}, :html => {:multipart => true, :id => "new_competitors"}, :validate => true) do |f| %>
					<ul>
						<li>&nbsp;Név<br />
							<%= f.text_field(:name, :class => "textfield", :maxlength => 100) %>
						</li>
						<li>&nbsp;Email<br />
							<%= f.text_field(:email, :class => "textfield", :maxlength => 100) %>
						</li>
						<li>&nbsp;Pályázat neve<br />
							<%= f.text_field(:tender_name, :class => "textfield", :maxlength => 100) %>
						</li>
						<li>&nbsp;Telefon<br />
							<%= f.text_field(:telephone, :class => "textfield", :maxlength => 12) %>
						</li>
						<li>&nbsp;Irányítószám<br />
							<%= f.text_field(:zipcode, :class => "textfield", :maxlength => 4) %>
						</li>
						<li>&nbsp;Lakcím<br />
							<%= f.text_field(:address, :class => "textfield", :maxlength => 100) %>
						</li>
						<li>&nbsp;Egyéb<br />
							<%= f.text_area(:comments, :class => "freetext") %>
						</li>
						<li id="picture">&nbsp;Pályázati kép<br />
							<div class="image_browse_field">
								<input type="text" name="upload" id="upload" />
							</div>
							<input type="file" name="competitor[image]" class="image_browse" onchange="this.form.upload.value = this.value;" />
						</li>
						<li>			
							<input type="radio" name="competitor[terms]" value="accepted" />&nbsp;&nbsp;&nbsp;Szabályzat elfogadása
						</li>
						<li>	
							<button type="submit" name="submitButton"><img src="/assets/pbutton.png" width="456" height="51"></button>
						</li>
					</ul>
				<% end %>
			</div>
		</div>
		<div id="fb-root"></div>
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script>
		FB.init({
		appId : 258087090967737,
		status : true, // check login status
		cookie : true, // enable cookies to allow the server to access the session
		xfbml : true // parse XFBML
		});
		</script>
	</body>
</html>
